beautifulsoup4==4.6.0
bottle==0.12.9
certifi==2017.4.17
chardet==3.0.4
contextlib2==0.5.5
cycler==0.9.0
Cython==0.23
Django==1.8.6
django-extensions==1.5.9
django-mongodb-engine==0.6.0
djangotoolbox==1.8.0
funcsigs==0.4
google==1.9.3
Google-Search-API==1.1.13
idna==2.5
Jinja2==2.8
Lasagne==0.2.dev1
MarkupSafe==0.23
matplotlib==1.4.1
Meteor==0.1.3
mock==1.3.0
mongoengine==0.10.0
nose==1.3.7
numpy==1.10.1
pbr==1.8.1
Pillow==9.0.0
protobuf==2.6.1
pymongo==3.1
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
qrcode==5.1
requests==2.18.1
scipy==0.16.1
selenium==2.53.6
shyaml==0.3.4
six==1.10.0
stevedore==1.10.0
-e git://github.com/Theano/Theano.git@63990436c98f107cf120f3578021a5d259ecf352#egg=Theano
Unidecode==0.4.21
urllib3==1.21.1
vboxapi==1.0
vcrpy==1.11.1
virtualenv==13.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wrapt==1.10.10
